
@media screen and (max-width: 1050px) {

    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */
#banner.parallax {
  background-attachment: scroll !important;
  background-position: 50% 0 !important;
}

 

    .parallax-content {
        background-attachment: scroll;
        background-position: 50% 0;
    }


    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */

    #banner {
        background-attachment: scroll;
        background-position: 50% 0;
    }


    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview .text h4 {
        margin-top: 16.5%;
    }

}



@media screen and (max-width: 979px) {

    /* --------------------------------------------------------------------- */
    /* 1. DOCUMENT SETUP
    /* --------------------------------------------------------------------- */

    body {
        font-size: 95%;
    }


    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    .headline-wrapper {
		margin-bottom: 70px;
        padding: 70px 0;
    }

    .parallax-content {
		margin-top: 70px;
        padding: 70px 0;
    }



    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */
	
	#banner .button-wrapper {
	    padding-top: 15px;
	}
	
	.newsletter {
	  color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;  
	}
	
	#banner .scroll-down {
	    bottom: 35px;
	}

#banner.parallax {
  background-attachment: scroll !important;
  background-position: 50% 0 !important;
}
    /* --------------------------------------------------------------------- */
    /* 7. WORK
    /* --------------------------------------------------------------------- */

    /* === 7.1 FILTER TABS === */

    .work-tabs li {
        display: inline-block;
        margin: 0 5px 10px 0;
    }
    .work-tabs li a {
        padding: 15px 40px;
    }

    #work-preview li {
        width: 50%;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 8. Newsletter
    /* --------------------------------------------------------------------- */

    .newsletter .submit {
        margin-top: 10px;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 9. TEAM
    /* --------------------------------------------------------------------- */

    .team-member {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .team-member:hover {
        margin-top: 0;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview {
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    #blog-preview .prev-img {
        width: 100%;
        float: none;
    }

    #blog-preview .text {
        width: 100%;
        float: left;
        margin-bottom: 40px;
    }

    #blog-preview .text h4 {
        margin-top: 30px;
        margin-bottom: 20px;
    }


    /* --------------------------------------------------------------------- */
    /* 3. BUTTONS (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .button {
        padding: 15px 40px;
        font-size: 0.95em;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 4. LINES (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .hr.margin {
        margin: 70px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 7. ICON BOX (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .icon-box:hover i {
        margin-top: 0;
    }
	

    /* --------------------------------------------------------------------- */
    /* 10. PRICING TABLE (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .pricing-table {
        max-width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    .pricing-table:hover {
        margin-top: 0;
    }
	
    .pricing-table .price {
        font-weight: 300;
        font-size: 2.3em;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 11. CONTACT
	/* --------------------------------------------------------------------- */

	.contact-row {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	


	/* --------------------------------------------------------------------- */
	/* 13. FACTS (SHORTCODES)
	/* --------------------------------------------------------------------- */

	.facts .icon-number {
		font-size: 3.5em;
	}

	.facts .text {
		font-size: 1.1em;
	}


}




@media screen and (max-width: 660px) {
	
    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    .headline-wrapper {
		margin-bottom: 50px;
        padding: 50px 0;
    }

    .parallax-content {
		margin-top: 50px;
        padding: 50px 0;
    }
	

    /* --------------------------------------------------------------------- */
    /* 4. HEADER
    /* --------------------------------------------------------------------- */

    #header .logo-wrapper {
        top: 30px;
    }

    .social-links {
        display: none;
    }


    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #main-navigation {
        top: auto;
        bottom: 50px;
    }
    #main-navigation li {
        margin: 0 0 8px 0;
    }


    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */

    #banner .banner-container {
        top: 10%;
    }

    #banner .big-text {
        font-size: 2em;
    }
    #banner .small-text {
        font-size: 1.2em;
    }

    #banner .scroll-down {
        display: none;
    }


    /* --------------------------------------------------------------------- */
    /* 7. WORK
    /* --------------------------------------------------------------------- */

    #work-preview li {
        width: 100%;
    }


    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview .layer {
        top: 23% !important;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 11. CONTACT
	/* --------------------------------------------------------------------- */

	.contact-row {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	

    /* --------------------------------------------------------------------- */
    /* 4. LINES (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .hr.margin {
        margin: 50px 0;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 8. SLIDER (SHORTCODES)
	/* --------------------------------------------------------------------- */
	
	#comment-slider .comment {
	    font-size: 1.1em;
	}

#banner .big-text {
    display: block;
    font-weight: 600;
    font-size: 2em;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
}




@media screen and (max-width: 440px) {

    /* --------------------------------------------------------------------- */
    /* 3. WRAPPER
    /* --------------------------------------------------------------------- */

    .headline-wrapper {
		margin-bottom: 40px;
        padding: 40px 0;
    }

    .parallax-content {
		margin-top: 40px;
        padding: 40px 0;
    }
	
	
	img.resize{
    width:250px; /* you can use % */
    height: auto;
}
	

h4 {
font-size: 1.0em;
 margin-bottom: 0px; 
font-family: ‘Raleway’, Arial, serif;
font-weight: 400;
}

input.text {
width: 75%;
max-width: 450px;
padding: 15px;
background: rgba(0,0,0,0.12);
border: none;
-moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
-webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
box-shadow: inset 0 0 3px rgba(0,0,0,0.15);
}

    /* --------------------------------------------------------------------- */
    /* 4. HEADER
    /* --------------------------------------------------------------------- */

    #header .logo-wrapper {
        top: 20px;
    }


    /* --------------------------------------------------------------------- */
    /* 5. NAVIGATION
    /* --------------------------------------------------------------------- */

    #main-navigation {
        bottom: 30px;
    }


    /* --------------------------------------------------------------------- */
    /* 6. BANNER
    /* --------------------------------------------------------------------- */

   

    #banner .big-text {
        font-size: 2em;
    }
    #banner .small-text {
        font-size: 0.5em;
    }


    /* --------------------------------------------------------------------- */
    /* 7. WORK
    /* --------------------------------------------------------------------- */

	#work-preview .layer h4 {
		margin-top: 18%;
	}
	

    /* --------------------------------------------------------------------- */
    /* 10. BLOG
    /* --------------------------------------------------------------------- */

    #blog-preview .layer {
        top: 13% !important;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 11. CONTACT
	/* --------------------------------------------------------------------- */

	.contact-row {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	
	.hr2 {
width: 200px;
height: 1px;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #FFF;
border-right-color: #FFF;
border-bottom-color: #FFF;
border-left-color: #FFF;
margin: 0px auto;
padding-bottom: 25px;
}
	
	
	/* --------------------------------------------------------------------- */
	/* 1. TYPOGRAPHY (SHORTCODES)
	/* --------------------------------------------------------------------- */
    
    h1 {
        font-size: 2.0em;
    }
	
	
    /* --------------------------------------------------------------------- */
    /* 4. LINES (SHORTCODES)
    /* --------------------------------------------------------------------- */

    .hr.margin {
        margin: 40px 0;
    }
	
	
	/* --------------------------------------------------------------------- */
	/* 8. SLIDER (SHORTCODES)
	/* --------------------------------------------------------------------- */
	
	#comment-slider .comment {
	    font-size: 0.9em;
	}
	
	
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 568px) 
and (orientation : landscape) {
.newsletter {
display: none;
}	
}

}